version: '3.8'
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.17.0
    container_name: elasticsearch
    hostname: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - http.cors.enabled=true
      - http.cors.allow-origin=http://localhost:9080
      - http.cors.allow-headers=X-Requested-With,Content-Type,Content-Length,Authorization
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data

  elasticvue:
    image: cars10/elasticvue
    container_name: elasticvue
    ports:
      - "9080:8080"
    depends_on:
      - elasticsearch

volumes:
  esdata:
